.App {
  text-align: center;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* background-color: rgb(245, 245, 245); */
}

.App-link {
  color: whitesmoke;
}

.navbar {
    background-color: #222;
    }
a, .navbar-brand, .navbar-nav, .nav-link.active {
      color: #bbb;
      text-decoration: none;
      font-size: larger;
      hover: yellow
     
  }
  
  .container {
    margin: 80px auto 0 auto;
    max-width: 1200px;
  }